/*
============================================================================
Admin NEW
============================================================================
*/

#ujic_new{
   width: 600px;
   margin-top: 20px;
   display: block;
   float: left;
	background: 0 0 url('../images/back.jpg');
	background-size: cover;
	color: white;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   padding: 30px 40px;
   text-align: center;
   font-family: "Open Sans",sans-serif;
}

.ujic_butnew{
   display: inline-block;
   font-size: 14px;
   padding: 8px 15px;
   text-align: center;
   border: 1px solid #ffffff;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   color: #ffffff;
   text-decoration: none;
}

.ujic_butnew:hover{
   background: #ffffff;
   color: #a61ba6;
}

#ujic_new h2,
#ujic_new h3{
   color: #ffffff;
}

.ujic_new_cnt{
   border-top: 1px solid #ffffff;
   margin-top: 30px;
   padding-top: 30px;
}

.ujic_new_cnt ul{
   margin: 0;
}


.ujic_new_cnt ul li{
   margin: 30px 0;
   display: block;
}
/*
============================================================================
Admin Icons
============================================================================
*/
#icon-options-general{
  background: transparent url("../images/ucount-icon.png") no-repeat 0 0;
}

.ujc-admin-tit{
   background: transparent url("../images/ucount-icon.png") no-repeat 0 8px;
   padding-left: 40px!important;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {

  #icon-options-general{
    background-image: url("../images/ucount-icon@x2.png");
    background-size: 32px 187px;
  }
  
  .ujc-admin-tit{
    background: transparent url("../images/ucount-icon@x2.png") no-repeat 0 8px;
    padding-left: 40px!important;
    background-size: 32px 187px;
   }
}


.ujic-mico{
    position: relative;
    top: 4px;    
    padding-right: 4px;
}

/*
============================================================================
Admin Message
============================================================================
*/
#message {
    width: 943px;
}


/*
============================================================================
Color Picker Fix
============================================================================
*/

.iris-picker .iris-slider-offset {

}

/*
============================================================================
Admin Form
============================================================================
*/

.uji-fedit .postbox{
	background: #FEF4FF;
}

.ujic-create{
	width: 680px;
	float: left;
	display: inline-block;
    margin: 10px 0 0 5px;
}

.ujic-create .label {
	float: left;
	font-weight: normal;
	width: 200px;
	height: 40px;
	line-height: 40px;
}

.ujic-create .regular-chk{
	margin-top: 4px;
}

.ujic-create .mini{
 	width: 40px;
}

.ujic-create .ujic-box {
	overflow: hidden;
	display: block;
	margin: 15px 0;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 15px;
}

.ujic-settings .ujic-box {
	border-bottom: 0;
}


/* Input Option */

.ujic-create .regular-text{
	margin-top: 10px;
}

/* SliderUI Option */

.ujic_sliderui{
	margin-top: 15px;
}

/* Checkbox Option */




.ujic-chkbtn{
	float: left;
	position: relative;
	margin: 10px 0 0 0;
}

.icheckbox_flat-pink, .iradio_flat-pink {
	display: inline-block!important;
	float: left!important;
	margin-right: 10px!important;
}

.ujic-chkbtn label{
	float: left;
	line-height: 22px;
	padding-right: 15px;
}

/* Radiobox Option */

#img-none{
	background: url("../images/align-none.png") right 3px  no-repeat;	
	padding-right: 25px;
}

#img-left{
	background: url("../images/align-left.png") right 3px  no-repeat;
	padding-right: 30px;
}

#img-center{
	background: url("../images/align-center.png") right 3px  no-repeat;	
	padding-right: 30px;
}

#img-right{
	background: url("../images/align-left.png") right 3px  no-repeat;	
	padding-right: 30px;
}

.ujic-radbtn{
	margin: 10px;
}

.ujic-radbtn label{
	float: left;
	line-height: 20px;
	margin-right: 20px;
}

/* select Option */
.ujic-select{
	padding: 4px;
	border: 1px solid #aeaeae;
	background: #bc59bc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
}

/* Style Option */

.ujic-types{
	width: 32px;
	height: 34px;
	display: block;
	float: left;
	padding: 0 2px;
	text-indent: -99999px;
	margin-right: 20px;
	border: 1px solid transparent;
}

.ujic-types:hover{
	border: 1px solid #cfcfcf;
}

.ujic-types-sel{
	border: 1px solid #bbbbbb!important;
}


#ujic-style-classic{
	background: url(../images/classic.png) center 1px no-repeat;
}

#ujic-style-custom{
	background: url(../images/custom.png) center 1px no-repeat;
}
/*
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
	#ujic-style-classic{
		background: url(../images/classic@2.png) no-repeat;
	}
	#ujic-style-modern{
		background: url(../images/modern@2.png) no-repeat;
	}
	#ujic-style-custom{
		background: url(../images/custom@2.png) no-repeat;
	}
}*/
/* Color Option */

.ujic-color{
	overflow: hidden;
	clear: both;
	float: none;
}

.ujic-color span{
	display: block;
}

.ujic-color .ujic-color-hold{
	float: left;
	display: inline-block;
	margin-right: 20px;
}

.ujic-color-box {
    display: block;
    float: left;
    overflow: hidden;
}

/* Button Option */
.ujic-create .submit{
	display: inline;
	margin-right: 10px;
}

/*
============================================================================
Table Admin
============================================================================
*/

#ujic_table{
	padding: 20px 0;
	width: 680px;
	float: left;
	
}

#ujic_table{
	line-height: 30px;
}

#ujic_table_new{
	margin: 0 0 10px 0;
}

#message{
	margin: 20px 0 0 0;
}

.ujic-submit-hold{
    display: block;
    overflow:hidden;
    margin: 20px 0 0 0;
}

/*
============================================================================
Tutorial Admin
============================================================================
*/

.ujic-tut{
	float: left;
	display: inline;
	margin: 10px 0 0 10px;
}

/*
============================================================================
Preview Style
============================================================================
*/

.ujic-preview{
	display: block;
	float: none;
	clear: both;
	width: 970px;
}

.ujic-preview .postbox {
	overflow: hidden;
	z-index: 9999;
}

.ujic-preview .postbox:hover {
	cursor: move;
}

#ujiCountdown{
	margin-bottom: 20px;
	overflow: hidden;
	padding-top: 10px;
}

#ujiCountdown .ujic_y,
#ujiCountdown .ujic_o,
#ujiCountdown .ujic_w
{
	display: none;	
}

.ujic-classic .countdown_section { 
	float:left; 
	display: block; 
	text-align: center;
	margin: 0 15px 0 0;
}

.ujic-classic span.countdown_amount {
	display: inline-block;
	color: #fff;
	padding: 5px 10px 5px 10px;
	margin-right: 2px;

	font: 35px/1.5 'Open Sans Condensed',sans-serif;
	font-weight: normal; 
	
	box-shadow:1px 1px 1px rgba(4, 4, 4, 0.35);
	
   -webkit-border-radius: 5px;
   -ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 1px 1px 1px #000;
	
	background: #a61ba6; /* Old browsers */
	background: -moz-linear-gradient(top,  #a61ba6 50%, #c368c3 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#a61ba6), color-stop(50%,#c368c3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a61ba6 50%,#c368c3 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a61ba6 50%,#c368c3 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a61ba6 50%,#c368c3 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #a61ba6 50%,#c368c3 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a61ba6', endColorstr='#c368c3',GradientType=0 ); /* IE6-9 */

}

.ujic-classic span.countdown_txt {
	display: block;
	text-align: center;
	margin: 5px 0 0 0;
}


.nav-tab-pro{
    background-color: #9a469a;
    color: #ffffff!important;
}

.nav-tab-pro:hover{
    background-color: #793979;
    color: #ffffff!important;
}

/*
============================================================================
Responsive
============================================================================
*/

@media only screen 
and (max-width : 1169px) {
    .ujic-tut{
        display: none;
    }
}